<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static File</title>
    <link rel="stylesheet" href="./../css/style.css">
</head>
<body>
    <h1>Static File</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consectetur voluptatum itaque soluta! Dicta asperiores quisquam animi. Et, minima beatae. Commodi vel, ut hic quis eos omnis itaque quo odio.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum adipisci dolorem, alias illo repellat ea deserunt obcaecati mollitia laudantium expedita culpa nostrum facere blanditiis tenetur et natus nobis ducimus accusantium.</p>
</body>
</html>